aiobotocore @ file:///Users/ec2-user/croot/aiobotocore_1767972201265/work
aiodns==4.0.0
aiohappyeyeballs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86beu757ao/croot/aiohappyeyeballs_1755769847762/work
aiohttp @ file:///Users/ec2-user/croot/aiohttp_1767813704691/work
aioitertools @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_1cfdb6fu8i/croot/aioitertools_1754313759051/work
aiosignal @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e3cjtbh902/croot/aiosignal_1755870814211/work
akshare==1.18.35
alabaster @ file:///opt/miniconda3/conda-bld/alabaster_1764709087668/work
alembic==1.18.4
altair @ file:///Users/ec2-user/croot/altair_1767001728485/work
anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///opt/miniconda3/conda-bld/anaconda-cloud-auth-split_1765839823423/work
anaconda-cli-base @ file:///opt/miniconda3/conda-bld/anaconda-cli-base_1764888589923/work
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
applaunchservices @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/applaunchservices_1728595929050/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
appscript @ file:///opt/miniconda3/conda-bld/appscript_1761144338255/work
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067821168/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854525/work
arrow @ file:///opt/miniconda3/conda-bld/arrow_1761560635724/work
astroid @ file:///opt/miniconda3/conda-bld/astroid_1759355181021/work
astropy @ file:///Users/ec2-user/croot/astropy_1771842780092/work
astropy-iers-data @ file:///Users/ec2-user/croot/astropy-iers-data_1772027754080/work
asttokens==3.0.1
async-lru @ file:///opt/miniconda3/conda-bld/async-lru_1761121451614/work
asyncio-mqtt==0.16.2
asyncssh @ file:///opt/miniconda3/conda-bld/asyncssh_1763120257205/work
atomicwrites==1.4.0
attrs @ file:///opt/miniconda3/conda-bld/attrs_1762356931094/work
Automat @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ddy0059olt/croot/automat_1743532570194/work
autopep8 @ file:///croot/autopep8_1708962882016/work
av==16.1.0
babel @ file:///opt/miniconda3/conda-bld/babel_1764159365447/work
bcrypt @ file:///opt/miniconda3/conda-bld/bcrypt_1762875116397/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1770291773081/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///Users/ec2-user/croot/black_1770636108171/work
bleach @ file:///opt/miniconda3/conda-bld/bleach_1764153568527/work
blinker @ file:///opt/miniconda3/conda-bld/blinker_1764332126569/work
bokeh @ file:///Users/ec2-user/croot/bokeh_1767718782574/work
boltons @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_97h34kncb9/croot/boltons_1751383736162/work
botocore @ file:///Users/ec2-user/croot/botocore_1767955212134/work
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937852211/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161081/work
build==1.4.0
cachetools==7.0.2
cattrs @ file:///opt/miniconda3/conda-bld/cattrs_1761729025974/work
ccxt==4.5.40
certifi==2026.2.25
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832773185/work
chardet @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_84vw02jazy/croot/chardet_1755516287623/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840553/work
click==8.3.1
cloudpickle @ file:///opt/miniconda3/conda-bld/cloudpickle_1764930389325/work
coincurve==21.0.0
colorcet @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/colorcet_1728594017635/work
colorlog==6.10.1
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153598/work
conda @ file:///Users/ec2-user/croot/conda_1771402195124/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ebkcs5yxh6/croot/conda-anaconda-tos_1755123330773/work
conda-content-trust @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-content-trust_1728603284288/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-package-handling @ file:///opt/miniconda3/conda-bld/conda-package-handling_1762366402479/work
conda_package_streaming @ file:///opt/miniconda3/conda-bld/conda-package-streaming_1762361629849/work
constantly @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/constantly_1728594035089/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920891/work
cookiecutter @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a0vt3ucgws/croot/cookiecutter_1751313985915/work
coverage==7.13.4
cryptography==46.0.5
cssselect @ file:///Users/ec2-user/croot/cssselect_1768297654425/work
ctranslate2==4.7.1
curl_cffi==0.14.0
cycler @ file:///Users/ec2-user/croot/cycler_1766067932237/work
dask @ file:///Users/ec2-user/croot/dask-core_1771416093159/work
datashader @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_d9yhs528yz/croot/datashader_1756382875947/work
debugpy==1.8.20
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341238163/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dependency-injector==4.48.3
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///opt/miniconda3/conda-bld/dill_1760096784777/work
dingtalk-sdk==1.3.8
distributed @ file:///Users/ec2-user/croot/distributed_1771493337380/work
distro @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/distro_1728591855492/work
docstring-to-markdown @ file:///opt/miniconda3/conda-bld/docstring-to-markdown_1758626850414/work
docutils @ file:///opt/miniconda3/conda-bld/docutils_1761746647505/work
et_xmlfile @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_29xjd2rw2y/croot/et_xmlfile_1756462494507/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235986/work
faster-whisper==1.2.1
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718701479/work
feedparser==6.0.12
filelock @ file:///Users/ec2-user/croot/filelock_1769440497771/work
flake8 @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/flake8_1728594304916/work
Flask @ file:///Users/ec2-user/croot/flask_1772099825484/work
flatbuffers==25.12.19
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1765445186468/work
fqdn==1.5.1
frozendict @ file:///opt/miniconda3/conda-bld/frozendict_1761750665916/work
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062014412/work
fsspec @ file:///Users/ec2-user/croot/fsspec_1768898113296/work
gitdb @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_82snifofrq/croot/gitdb_1753362128356/work
GitPython @ file:///Users/ec2-user/croot/gitpython_1767874102232/work
gmpy2 @ file:///opt/miniconda3/conda-bld/gmpy2_1764747894215/work
greenlet @ file:///opt/miniconda3/conda-bld/greenlet_1757405399086/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258823/work
h5py @ file:///Users/ec2-user/croot/h5py_1767712722067/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
hf-xet==1.3.2
hf_transfer==0.1.9
holoviews @ file:///Users/ec2-user/croot/holoviews_1768322844933/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187686/work
huggingface_hub==1.6.0
hvplot @ file:///Users/ec2-user/croot/hvplot_1767611475812/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005426/work
ImageIO @ file:///opt/miniconda3/conda-bld/imageio_1762954041284/work
imagesize @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/imagesize_1728592187602/work
imbalanced-learn @ file:///Users/ec2-user/croot/imbalanced-learn_1767959659021/work
importlib_metadata @ file:///Users/ec2-user/croot/importlib_metadata-suite_1772099880086/work
incremental @ file:///croot/incremental_1743512672142/work
inflection @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/inflection_1728594520428/work
iniconfig @ file:///Users/ec2-user/croot/iniconfig_1767356814731/work
intake @ file:///Users/ec2-user/croot/intake_1766006995702/work
intervaltree @ file:///home/task_176795483829571/croot/intervaltree_1767954924476/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946073576/work
ipympl @ file:///Users/ec2-user/croot/ipympl_1768309796765/work
ipython==9.10.0
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500031379/work
ipywidgets_bokeh==1.6.0
isoduration==20.11.0
isort @ file:///opt/miniconda3/conda-bld/isort_1760088986200/work
itemadapter @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a4674aidcu/croot/itemadapter_1756733850172/work
itemloaders @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7ey3gdivap/croot/itemloaders_1743525753900/work
itsdangerous @ file:///Users/builder/cbouss/buildout/croot/itsdangerous_1732923588034/work
jaraco.classes @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97dr4u6nc1/croot/jaraco.classes_1755516335437/work
jaraco.context @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jaraco.context_1731716684676/work
jaraco.functools @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_91zaq5_008/croot/jaraco.functools_1740408121405/work
jedi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_38ctoinnl0/croot/jedi_1733987402850/work
jellyfish @ file:///opt/miniconda3/conda-bld/jellyfish_1764243532106/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
jmespath @ file:///Users/ec2-user/croot/jmespath_1770135997920/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868079254/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718543883/work
jsonpatch @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jsonpatch_1728594556110/work
jsonpath==0.82.2
jsonpointer @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bdid71leqg/croot/jsonpointer_1753788445166/work
jsonschema==4.26.0
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416562/work
jupyter @ file:///Users/builder/cbouss/buildout/croot/jupyter_1742577908394/work
jupyter-console @ file:///Users/builder/cbouss/buildout/croot/jupyter_console_1739485173236/work
jupyter-events @ file:///opt/miniconda3/conda-bld/jupyter_events_1765813597536/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773348719/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399009041/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588283979/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1769613415012/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289355605/work
jupyterlab==4.5.5
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629824895/work
jupyterlab_widgets @ file:///Users/ec2-user/croot/jupyterlab_widgets_1771492388562/work
keyring @ file:///opt/miniconda3/conda-bld/keyring_1763637309871/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159432715/work
lark==1.3.1
lazy_loader @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/lazy_loader_1728594662675/work
lckr_jupyterlab_variableinspector @ file:///Users/ec2-user/croot/jupyterlab-variableinspector_1771517693364/work
libmambapy @ file:///opt/miniconda3/conda-bld/mamba-split_1763111381025/work/libmambapy
librt==0.8.1
libtmux==0.55.0
linkify-it-py @ file:///opt/miniconda3/conda-bld/linkify-it-py_1758717844923/work
llvmlite @ file:///opt/miniconda3/conda-bld/llvmlite_1765874171812/work
lmdb @ file:///opt/miniconda3/conda-bld/python-lmdb_1764243618954/work
locket @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/locket_1728588032653/work
lsprotocol @ file:///Users/ec2-user/croot/lsprotocol_1771963542010/work/packages/python
lxml @ file:///opt/miniconda3/conda-bld/lxml_1764009699527/work
lz4 @ file:///opt/miniconda3/conda-bld/lz4_1762953994330/work
Mako==1.3.10
Markdown @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/markdown_1728589742914/work
markdown-it-py @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6av49xs_3l/croot/markdown-it-py_1756299201304/work
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171616/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a1xgt3_h6l/croot/mdit-py-plugins_1756379990429/work
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552175942/work
menuinst @ file:///opt/miniconda3/conda-bld/menuinst_1765382369523/work
mini-racer==0.14.1
mistune==3.2.0
modelscope==1.34.0
more-itertools @ file:///opt/miniconda3/conda-bld/more-itertools_1761121541654/work
mpi4py @ file:///Users/ec2-user/croot/mpi4py_1767706455173/work
mpmath @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mpmath_1728592510324/work
msgpack==1.1.2
multidict @ file:///Users/ec2-user/croot/multidict_1770629142335/work
multipledispatch @ file:///opt/miniconda3/conda-bld/multipledispatch_1756978457873/work
mypy==1.19.1
mypy_extensions==1.1.0
narwhals==2.17.0
nbclient @ file:///Users/ec2-user/croot/nbclient_1771577059398/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1772121294333/work
nbformat @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nbformat_1728586010733/work
nest_asyncio @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nest-asyncio_1728588080290/work
networkx @ file:///opt/miniconda3/conda-bld/networkx_1765378629059/work
nltk @ file:///Users/ec2-user/croot/nltk_1772491124951/work
notebook @ file:///Users/ec2-user/croot/notebook_1770289380797/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629841542/work
numba @ file:///opt/miniconda3/conda-bld/numba_1765905838894/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165518100/work
numpy==2.4.2
numpydoc @ file:///Users/ec2-user/croot/numpydoc_1767780762568/work
onnxruntime==1.24.3
openpyxl @ file:///Users/builder/cbouss/buildout/croot/openpyxl_1739486465110/work
optionaldict==0.1.2
packaging==26.0
paho-mqtt==2.1.0
pandas==3.0.1
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977615874/work
panel @ file:///Users/ec2-user/croot/panel_1767614863755/work
param @ file:///opt/miniconda3/conda-bld/param_1764703501866/work
parsel @ file:///opt/miniconda3/conda-bld/parsel_1761560888575/work
parso @ file:///opt/miniconda3/conda-bld/parso_1762781703500/work
partd @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00gzvqt15t/croot/partd_1736803428764/work
pathspec @ file:///Users/ec2-user/croot/pathspec_1770399997892/work
patsy @ file:///Users/ec2-user/croot/patsy_1767614330847/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936187/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///Users/ec2-user/croot/pillow_1772475246600/work
pkce @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pkce_1728592680499/work
platformdirs==4.9.2
plotly==6.6.0
pluggy==1.6.0
prometheus_client @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_26twdnhgbr/croot/prometheus_client_1744271763065/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744878191/work
propcache @ file:///opt/miniconda3/conda-bld/propcache_1765457264444/work
Protego @ file:///Users/ec2-user/croot/protego_1772224451226/work
protobuf @ file:///opt/miniconda3/conda-bld/protobuf_1763136939017/work/bazel-bin/python/dist/protobuf-6.33.0-cp313-abi3-macosx_11_0_arm64.whl#sha256=7b14f2b8c39057930a1e09eb4f996c6429d07525627374f2075b48b8aa006c6b
psutil==7.2.2
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067068750/work
py-cpuinfo @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/py-cpuinfo_1728593043967/work
pyarrow @ file:///opt/miniconda3/conda-bld/pyarrow_1764939446700/work/python
pyasn1 @ file:///Users/ec2-user/croot/pyasn1_1770113312682/work
pyasn1_modules @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42zeqecgwx/croot/pyasn1-modules_1752042896598/work
pycares==5.0.1
pycodestyle==2.14.0
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61k1o_oje7/croot/pycosat_1736868429741/work
pycparser==3.0
pyct @ file:///opt/miniconda3/conda-bld/pyct_1759932143565/work
pycurl @ file:///opt/miniconda3/conda-bld/pycurl_1761131843538/work
pydantic==2.12.5
pydantic-settings @ file:///opt/miniconda3/conda-bld/pydantic-settings_1764165151428/work
pydantic_core @ file:///opt/miniconda3/conda-bld/pydantic-core_1764009784214/work
PyDispatcher @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_13nh1jwrtr/croot/pydispatcher_1750159269550/work
pydocstyle @ file:///Users/ec2-user/croot/pydocstyle_1767955748402/work
pyee==13.0.1
pyerfa @ file:///opt/miniconda3/conda-bld/pyerfa_1764837918192/work
pyflakes==3.4.0
PyGithub @ file:///opt/miniconda3/conda-bld/pygithub_1762271583918/work
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431584667/work
PyJWT @ file:///opt/miniconda3/conda-bld/pyjwt_1764332099092/work
pylint @ file:///Users/ec2-user/croot/pylint_1767955589482/work
pylint-venv @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pylint-venv_1728599255979/work
pyls-spyder==0.4.0
PyNaCl @ file:///opt/miniconda3/conda-bld/pynacl_1758891966190/work
pyobjc-core @ file:///opt/miniconda3/conda-bld/pyobjc-core_1763629855475/work
pyobjc-framework-Cocoa @ file:///opt/miniconda3/conda-bld/pyobjc-framework-cocoa_1763651373886/work
pyobjc-framework-CoreServices @ file:///opt/miniconda3/conda-bld/pyobjc-framework-coreservices_1763975793112/work
pyobjc-framework-FSEvents @ file:///opt/miniconda3/conda-bld/pyobjc-framework-fsevents_1763720524646/work
pyodbc @ file:///opt/miniconda3/conda-bld/pyodbc_1761670419572/work
pyOpenSSL @ file:///opt/miniconda3/conda-bld/pyopenssl_1762166536345/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973789929/work
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip @ file:///opt/miniconda3/conda-bld/pyqt-split_1764009019536/work/pyqt_sip
PyQtWebEngine==5.15.7
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
pytest @ file:///Users/ec2-user/croot/pytest_1769787678553/work
pytest-asyncio==1.3.0
pytest-cov==7.0.0
pytest-html==4.2.0
pytest-metadata==3.1.1
python-dateutil @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-dateutil_1728585579455/work
python-dotenv==1.2.2
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590095819/work
python-lsp-black @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27y6e_0rf3/croot/python-lsp-black_1744023216832/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-ruff @ file:///opt/miniconda3/conda-bld/python-lsp-ruff_1759832185064/work
python-lsp-server @ file:///opt/miniconda3/conda-bld/python-lsp-server_1759829153262/work
python-slugify @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9393c95h1l/croot/python-slugify_1756294065290/work
python-socks==2.8.1
pytokens==0.4.1
pytoolconfig @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pytoolconfig_1728593267795/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
pyuca @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyuca_1728617681886/work
pyviz_comms @ file:///opt/miniconda3/conda-bld/pyviz_comms_1758102124679/work
PyWavelets @ file:///Users/ec2-user/croot/pywavelets_1771517617102/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492884/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375585960/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/qstylizer_1728600032640/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=44a0c85018ec31b1e3787b9778ad1fecc60de84815555c5c2b06fc41233274e2
QtAwesome @ file:///Users/ec2-user/croot/qtawesome_1770806296573/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1771498707563/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017002/work
queuelib @ file:///opt/miniconda3/conda-bld/queuelib_1762896904332/work
readchar @ file:///opt/miniconda3/conda-bld/readchar_1760613300945/work
redis==7.2.1
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885350/work
regex @ file:///opt/miniconda3/conda-bld/regex_1765378749968/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359592010/work
requests-file @ file:///Users/ec2-user/croot/requests-file_1768309827931/work
rfc3339_validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3339-validator_1731706731994/work
rfc3986_validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3986-validator_1728586416230/work
rfc3987-syntax==1.1.0
rich @ file:///opt/miniconda3/conda-bld/rich_1760375480293/work
roman-numerals @ file:///opt/miniconda3/conda-bld/roman-numerals_1765446479608/work
rope @ file:///opt/miniconda3/conda-bld/rope_1762431624278/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478835/work
rtree @ file:///Users/ec2-user/croot/rtree_1771951922792/work
ruamel.yaml @ file:///opt/miniconda3/conda-bld/ruamel.yaml_1762535951282/work
ruamel.yaml.clib @ file:///opt/miniconda3/conda-bld/ruamel.yaml.clib_1762530070208/work
ruff==0.9.9
rumps==0.4.0
s3fs @ file:///Users/ec2-user/croot/s3fs_1769180542470/work
schedule==1.2.2
scikit-image @ file:///Users/ec2-user/croot/scikit-image_1768385895297/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1766097934589/work
scipy==1.17.1
Scrapy @ file:///opt/miniconda3/conda-bld/scrapy_1764254630204/work
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
semver @ file:///opt/miniconda3/conda-bld/semver_1761903026306/work
Send2Trash==2.1.0
service-identity @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bcsu3iimeq/croot/service_identity_1749714989457/work
setuptools==82.0.1
sgmllib3k==1.0.0
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912204150/work
silero-vad==6.2.1
sip @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_35c2v0osra/croot/sip_1756223384493/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
sklearn-compat @ file:///Users/ec2-user/croot/sklearn-compat_1767894735862/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///opt/miniconda3/conda-bld/sniffio_1764329150559/work
snowballstemmer @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_06xl53gun3/croot/snowballstemmer_1756710203470/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
sounddevice==0.5.5
soupsieve==2.8.3
Sphinx @ file:///Users/ec2-user/croot/sphinx_1770798085454/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///opt/miniconda3/conda-bld/spyder_1763760989704/work
spyder-kernels @ file:///Users/ec2-user/croot/spyder-kernels_1771491976263/work
SQLAlchemy==2.0.48
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067040463/work
statsmodels @ file:///opt/miniconda3/conda-bld/statsmodels_1765532957192/work
streamlit @ file:///Users/ec2-user/croot/streamlit-split_1770289283908/work/streamlit
superqt @ file:///opt/miniconda3/conda-bld/superqt_1758274737768/work
sympy @ file:///opt/miniconda3/conda-bld/sympy_1764762955968/work
TA-Lib==0.6.8
tables @ file:///Users/ec2-user/croot/pytables_1771517595990/work
tabulate @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/tabulate_1728595611287/work
tblib @ file:///Users/ec2-user/croot/tblib_1768309878971/work
tenacity @ file:///Users/ec2-user/croot/tenacity_1767184783202/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591696523/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ef9qmeucrx/croot/textdistance_1751314510723/work
threadpoolctl==3.6.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///Users/ec2-user/croot/tifffile_1767871228319/work
tinycss2 @ file:///Users/builder/cbouss/buildout/croot/tinycss2_1739483860002/work
tldextract @ file:///Users/ec2-user/croot/tldextract_1768297535498/work
tmuxp==1.67.0
tokenizers==0.22.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03b1up8uh3/croot/tomli_1753774598375/work
tomlkit @ file:///opt/miniconda3/conda-bld/tomlkit_1762896638273/work
toolz @ file:///opt/miniconda3/conda-bld/toolz_1764677591051/work
torch==2.10.0
torchaudio==2.10.0
tornado @ file:///Users/ec2-user/croot/tornado_1765992646537/work
tqdm @ file:///opt/miniconda3/conda-bld/tqdm_1762863348900/work
traitlets @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/traitlets_1728585482264/work
truststore @ file:///opt/miniconda3/conda-bld/truststore_1762520923820/work
Twisted @ file:///opt/miniconda3/conda-bld/twisted_1762252428674/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614169744/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
uc-micro-py @ file:///opt/miniconda3/conda-bld/uc-micro-py_1758552119994/work
ujson @ file:///opt/miniconda3/conda-bld/ujson_1763119227478/work
uri-template==1.3.0
urllib3==2.6.3
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502840/work
w3lib @ file:///opt/miniconda3/conda-bld/w3lib_1764240043879/work
watchdog @ file:///opt/miniconda3/conda-bld/watchdog_1759775782308/work
wcwidth==0.6.0
webcolors==25.10.0
webencodings @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/webencodings_1728586135895/work
websocket-client==1.9.0
websockets==16.0
Werkzeug @ file:///Users/ec2-user/croot/werkzeug_1772491070463/work
whatthepatch @ file:///opt/miniconda3/conda-bld/whatthepatch_1758276655940/work
wheel==0.45.1
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556739997/work
wrapt @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_30cvf__dq_/croot/wrapt_1736541623359/work
wurlitzer @ file:///opt/miniconda3/conda-bld/wurlitzer_1756979036322/work
xarray @ file:///Users/ec2-user/croot/xarray_1767954815495/work
xlrd==2.0.2
xlwings @ file:///Users/ec2-user/croot/xlwings_1770629074581/work
xyzservices @ file:///opt/miniconda3/conda-bld/xyzservices_1758720201642/work
yapf @ file:///opt/miniconda3/conda-bld/yapf_1761560514687/work
yarl==1.23.0
zict @ file:///opt/miniconda3/conda-bld/zict_1764604321093/work
zipp @ file:///opt/miniconda3/conda-bld/zipp_1763977858517/work
zope.interface @ file:///opt/miniconda3/conda-bld/zope.interface_1762336927613/work
zstandard @ file:///opt/miniconda3/conda-bld/zstandard_1758189078532/work
